# Python cache
_pycache_/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs and databases
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Python egg
*.egg
*.egg-info/
dist/
build/
